demo-rpc-ws-project/DemoRPCClient.Modernized/DemoRPCClient/src/main/webapp/WEB-INF/wsdl/DemoRPC.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://demo.rpc" xmlns:impl="http://demo.rpc" xmlns:intf="http://demo.rpc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
	  <schema  targetNamespace="http://demo.rpc"  xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		   <element name="demoPerson">
		   	<complexType>
		    		<sequence>
		        		<element name="person" type="impl:person"/>
		    		</sequence>
		   	</complexType>
		  </element>
		  <element name="demoPersonResponse">
		   	<complexType>
		        	<sequence>
		        		<element name="demoPersonReturn"  type="impl:person"/>
		        	</sequence>
		    	</complexType>
		  </element>
		  
		   	<complexType name="person">
		    		<sequence>
		        		<element name="firstName" nillable="true" type="xsd:string"/>
		        		<element name="lastName" nillable="true" type="xsd:string"/>
		        		<element name="age" nillable="true" type="xsd:int"/>
		        		<element name="placeOfBirth" nillable="true" type="xsd:string"/>
		    		</sequence>
		   	</complexType>
 	</schema>
 </wsdl:types>
  <wsdl:message name="demoPersonRequest">
	<wsdl:part element="impl:demoPerson" name="parameters" />
 </wsdl:message>
 <wsdl:message name="demoPersonResponse">
     <wsdl:part element="impl:demoPersonResponse" name="parameters" />
 </wsdl:message>
 <wsdl:portType name="DemoRPC">
     <wsdl:operation name="demoPerson">
        <wsdl:input message="impl:demoPersonRequest" name="demoPersonRequest"/>
        <wsdl:output message="impl:demoPersonResponse" name="demoPersonResponse"/>
     </wsdl:operation>
 </wsdl:portType>
 <wsdl:binding name="DemoRPC" type="impl:DemoRPC">
     <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
     <wsdl:operation name="demoPerson">
	      <wsdlsoap:operation soapAction=""/>
	      <wsdl:input name="demoPersonRequest">
	        <wsdlsoap:body use="literal"/>
	     </wsdl:input>
	      <wsdl:output name="demoPersonResponse">
	        <wsdlsoap:body use="literal"/>
	     </wsdl:output>
	  </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DemoRPC">
     <wsdl:port binding="impl:DemoRPC" name="DemoRPC">
       <wsdlsoap:address location="http://localhost:9080/DemoRPC/services/DemoRPC"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>